force-app/main/default/flows/Booking_Order_update_order.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <customProperties>
        <name>ScreenProgressIndicator</name>
        <value>
            <stringValue>{&quot;location&quot;:&quot;top&quot;,&quot;type&quot;:&quot;simple&quot;}</stringValue>
        </value>
    </customProperties>
    <environments>Default</environments>
    <formulas>
        <name>For_checking_number_of_guest_more</name>
        <dataType>Boolean</dataType>
        <expression>{!Number_of_Guests} &gt; ( {!get_Order.Number_of_Guests__c}  * 1.2)</expression>
    </formulas>
    <formulas>
        <name>for_Date</name>
        <dataType>Date</dataType>
        <expression>DATEVALUE({!Event_Date_and_Time})</expression>
    </formulas>
    <formulas>
        <name>for_date_time</name>
        <dataType>DateTime</dataType>
        <expression>IF(
    AND(
        NOT(ISBLANK({!get_Order.Event_Date__c})),
        NOT(ISBLANK({!get_Order.Event_Time__c}))
    ),
    DATETIMEVALUE(
        TEXT({!get_Order.Event_Date__c}) &amp; &quot; &quot; &amp;
        TEXT(HOUR({!get_Order.Event_Time__c})) &amp; &quot;:&quot; &amp;
        TEXT(MINUTE({!get_Order.Event_Time__c})) &amp; &quot;:&quot; &amp;
        TEXT(SECOND({!get_Order.Event_Time__c}))
    ),
    NULL
)</expression>
    </formulas>
    <formulas>
        <name>For_get_sc_event_date</name>
        <dataType>Date</dataType>
        <expression>DATEVALUE({!Event_Date_and_Time})</expression>
    </formulas>
    <formulas>
        <name>For_get_sc_event_time</name>
        <dataType>Time</dataType>
        <expression>TIMEVALUE({!Event_Date_and_Time})</expression>
    </formulas>
    <formulas>
        <name>For_Today</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <formulas>
        <name>For_Today_plus7</name>
        <dataType>Date</dataType>
        <expression>TODAY() +7</expression>
    </formulas>
    <interviewLabel>Booking Order : update order {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Booking Order : update order</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>get_Order</name>
        <label>get Order</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Edit_details</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Order</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_order</name>
        <label>Update order</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Event_Date__c</field>
            <value>
                <elementReference>for_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Number_of_Guests__c</field>
            <value>
                <elementReference>Number_of_Guests</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reason_for_Change__c</field>
            <value>
                <elementReference>Reason_for_change</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Special_Requirements__c</field>
            <value>
                <elementReference>Special_Requirements</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Venue_Address__c</field>
            <value>
                <elementReference>Venue</elementReference>
            </value>
        </inputAssignments>
        <object>Order</object>
    </recordUpdates>
    <screens>
        <name>Edit_details</name>
        <label>Edit details</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <backButtonLabel>Cancel</backButtonLabel>
        <connector>
            <targetReference>Update_order</targetReference>
        </connector>
        <fields>
            <name>Event_Date_and_Time</name>
            <dataType>DateTime</dataType>
            <defaultValue>
                <elementReference>for_date_time</elementReference>
            </defaultValue>
            <fieldText>Event Date and Time</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Number_of_Guests</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>get_Order.Number_of_Guests__c</elementReference>
            </defaultValue>
            <fieldText>Number of Guests</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <scale>0</scale>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Venue</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>get_Order.Venue_Address__c</elementReference>
            </defaultValue>
            <fieldText>Venue</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Special_Requirements</name>
            <defaultValue>
                <stringValue>{!get_Order.Special_Requirements__c}</stringValue>
            </defaultValue>
            <fieldText>Special Requirements</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Reason_for_change</name>
            <dataType>String</dataType>
            <fieldText>Reason for change</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Confirm</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>get_Order</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
