force-app/main/default/flows/Create_Order_on_Invoice_Payment.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Order_Line_Item_Value</name>
        <label>Assign Order Line Item Value</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>OrderLineItemSingleRec.Unit_Price__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Collect_QuoteLine_Items.UnitPrice</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OrderLineItemSingleRec.Booking_Order__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Order.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OrderLineItemSingleRec.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Collect_QuoteLine_Items.Product2.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OrderLineItemSingleRec.Description__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Collect_QuoteLine_Items.Product2.Description</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OrderLineItemSingleRec.Quantity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Collect_QuoteLine_Items.Quantity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OrderLineItemSingleRec.List_Price__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Collect_QuoteLine_Items.ListPrice</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OrderLineItemSingleRec.Tax_Rate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Collect_QuoteLine_Items.Tax_Rate__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OrderLineItemCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>OrderLineItemSingleRec</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Standard_Order_Line_Item_Value</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Standard_Order_Line_Item_Value</name>
        <label>Assign Standard Order Line Item Value</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>StandardOrderItemSingleRec.UnitPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Collect_QuoteLine_Items.UnitPrice</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>StandardOrderItemSingleRec.OrderId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Order.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>StandardOrderItemSingleRec.Product2Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Collect_QuoteLine_Items.Product2.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>StandardOrderItemSingleRec.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TruncatedDescription</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>StandardOrderItemSingleRec.Quantity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Collect_QuoteLine_Items.Quantity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>StandardOrderItemSingleRec.ListPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Collect_QuoteLine_Items.ListPrice</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>StandardOrderItemSingleRec.PricebookEntryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Collect_QuoteLine_Items.PricebookEntry.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>StandardOrderItemCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>StandardOrderItemSingleRec</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Collect_QuoteLine_Items</targetReference>
        </connector>
    </assignments>
    <description>Removed guest arrival and dep time</description>
    <environments>Default</environments>
    <formulas>
        <name>DueDate</name>
        <dataType>Date</dataType>
        <expression>TODAY() + 1</expression>
    </formulas>
    <formulas>
        <name>MoreThan50Perc</name>
        <dataType>Boolean</dataType>
        <expression>IF({!$Record.Amount_Paid__c} / {!$Record.Total_Amount__c} &gt;= 0.5, true, false)</expression>
    </formulas>
    <formulas>
        <name>TruncatedDescription</name>
        <dataType>String</dataType>
        <expression>IF(
    LEN({!Collect_QuoteLine_Items.Product2.Description}) &gt; 255,
    LEFT({!Collect_QuoteLine_Items.Product2.Description}, 255),
    {!Collect_QuoteLine_Items.Product2.Description}
)</expression>
    </formulas>
    <interviewLabel>Create Order on Invoice Payment {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Order on Invoice Payment</label>
    <loops>
        <name>Collect_QuoteLine_Items</name>
        <label>Collect QuoteLine Items</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_Quote_LineItem_records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Order_Line_Item_Value</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Order_Line_Items</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Order</name>
        <label>Create Order</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Quote_LineItem_records</targetReference>
        </connector>
        <inputAssignments>
            <field>Access_Instructions__c</field>
            <value>
                <elementReference>$Record.Quote__r.Opportunity.Access_Instructions__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>Get_related_Quote.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Additional_beverages_or_snacks__c</field>
            <value>
                <elementReference>$Record.Quote__r.Opportunity.Additional_beverages_or_snacks__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Beverages_Coffee_Type__c</field>
            <value>
                <elementReference>$Record.Quote__r.Opportunity.Beverages_Coffee_Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Branding_preference__c</field>
            <value>
                <elementReference>$Record.Quote__r.Opportunity.Branding_preference__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Cart_Area__c</field>
            <value>
                <elementReference>$Record.Quote__r.Opportunity.Cart_Area__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Client_Breif__c</field>
            <value>
                <elementReference>$Record.Quote__r.Opportunity.Client_Breif__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Coffee_cart_to_be_branded_or_customized__c</field>
            <value>
                <elementReference>$Record.Quote__r.Opportunity.Coffee_cart_to_be_branded_or_customized__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Coffee_service_end_time__c</field>
            <value>
                <elementReference>$Record.Quote__r.Opportunity.Coffee_service_end_time__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Coffee_service_start_time__c</field>
            <value>
                <elementReference>$Record.Quote__r.Opportunity.Coffee_service_start_time__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contact__c</field>
            <value>
                <elementReference>Get_related_Quote.Contact.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Do_you_have_a_budget__c</field>
            <value>
                <elementReference>$Record.Quote__r.Opportunity.Do_you_have_a_budget__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EffectiveDate</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Estimated_Budget__c</field>
            <value>
                <elementReference>$Record.Quote__r.Opportunity.Estimated_Budget__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Event_Date__c</field>
            <value>
                <elementReference>Get_related_Quote.Opportunity.Event_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Event_Logo_Theme__c</field>
            <value>
                <elementReference>$Record.Quote__r.Opportunity.Event_Logo_Theme__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Event_Type__c</field>
            <value>
                <elementReference>$Record.Quote__r.Opportunity.Event_Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Need_extra_services__c</field>
            <value>
                <elementReference>$Record.Quote__r.Opportunity.Need_extra_services__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Number_of_Guests__c</field>
            <value>
                <elementReference>Get_related_Quote.Opportunity.Number_of_Guests__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Number_of_Staff_Required__c</field>
            <value>
                <elementReference>$Record.Quote__r.Opportunity.Number_of_Staff_Required__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Occasion__c</field>
            <value>
                <elementReference>$Record.Quote__r.Opportunity.Occasion__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OpportunityId</field>
            <value>
                <elementReference>Get_related_Quote.Opportunity.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Personal_or_Corporate_Event__c</field>
            <value>
                <elementReference>$Record.Quote__r.Opportunity.Personal_or_Corporate_Event__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pricebook2Id</field>
            <value>
                <elementReference>Get_Price_book.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority__c</field>
            <value>
                <elementReference>$Record.Quote__r.Opportunity.Priority__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>QuoteId</field>
            <value>
                <elementReference>Get_related_Quote.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_Recordtype.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Setup_Breakdown__c</field>
            <value>
                <elementReference>$Record.Quote__r.Opportunity.Setup_Breakdown__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Signage_requirement__c</field>
            <value>
                <elementReference>$Record.Quote__r.Opportunity.Signage_requirement__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Special_Requests__c</field>
            <value>
                <elementReference>$Record.Quote__r.Opportunity.Special_Requests__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Special_Requirements__c</field>
            <value>
                <elementReference>Get_related_Quote.Opportunity.Special_Requirements__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Speciality_Items__c</field>
            <value>
                <elementReference>$Record.Quote__r.Opportunity.Speciality_Items__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Confirmed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Uniform_Required__c</field>
            <value>
                <elementReference>$Record.Quote__r.Opportunity.Uniform_Required__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Venue_Address__c</field>
            <value>
                <elementReference>Get_related_Quote.Opportunity.Venue_Address__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>What_is_the_theme_or_style_of_the_event__c</field>
            <value>
                <elementReference>$Record.Quote__r.Opportunity.What_is_the_theme_or_style_of_the_event__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Xero_Invoice__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Order</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Order_Line_Items</name>
        <label>Create Order Line Items</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Create_standard_Order_Item_Records</targetReference>
        </connector>
        <inputReference>OrderLineItemCollection</inputReference>
    </recordCreates>
    <recordCreates>
        <description>As we are using custom order line item in integration- changing in every place will need additional effort and we can&apos;t activate the order if no items are available on standard order item</description>
        <name>Create_standard_Order_Item_Records</name>
        <label>Create Standard Order Item Records</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Update_Triggering_Invoice</targetReference>
        </connector>
        <inputReference>StandardOrderItemCollection</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Price_book</name>
        <label>Get Price book</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Recordtype</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsStandard</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Pricebook2</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Quote_LineItem_records</name>
        <label>Get Quote LineItem records</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Collect_QuoteLine_Items</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>QuoteId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_related_Quote.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>QuoteLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Recordtype</name>
        <label>Get Recordtype</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Order</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Order</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Quote__r.Opportunity.RecordType.DeveloperName</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_related_Opportunity</name>
        <label>Get related Opportunity</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_related_Opportunity</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Quote__r.Opportunity.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_related_Quote</name>
        <label>Get related Quote</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Price_book</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Quote__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Quote</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_related_Opportunity</name>
        <label>Update related Opportunity</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Quote__r.Opportunity.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Closed Won</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Triggering_Invoice</name>
        <label>Update Triggering Invoice</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_related_Opportunity</targetReference>
        </connector>
        <inputAssignments>
            <field>Order_Created__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_related_Quote</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Payment_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Paid</stringValue>
            </value>
        </filters>
        <object>Xero_Invoice__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <textTemplates>
        <name>EmailSubject</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Booking Confirmed – {!Create_Order.Event_Title__c}&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>TaskSubject</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Allocate Staff for {!Get_related_Quote.Opportunity.Event_Title__c}</text>
    </textTemplates>
    <variables>
        <name>OrderLineItemCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Order_Line_Item__c</objectType>
    </variables>
    <variables>
        <name>OrderLineItemSingleRec</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Order_Line_Item__c</objectType>
    </variables>
    <variables>
        <name>StandardOrderItemCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OrderItem</objectType>
    </variables>
    <variables>
        <name>StandardOrderItemSingleRec</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OrderItem</objectType>
    </variables>
</Flow>
