force-app/main/default/flows/Order_Booking_Get_notes_and_chatter_to_booking_from_Enquiry.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Clean_HTML_from_Chatter_Body</name>
        <label>Clean HTML from Chatter Body</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>ChatterHelper</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Assign_Body</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>bodies</name>
            <value>
                <elementReference>Loop_FeedItem.Body</elementReference>
            </value>
        </inputParameters>
        <nameSegment>ChatterHelper</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>TextApexOutput</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>66.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Body</name>
        <label>Assign Body</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Text_Body</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_FeedItem.Body</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Text_Body</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TextApexOutput</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_FeedItem</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_CDL</name>
        <label>Assign CDL</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>SV_CDL.ContentDocumentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_CDLS.ContentDocumentId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SV_CDL.LinkedEntityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SV_CDL.Visibility</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>AllUsers</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SV_CDL.ShareType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>V</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CV_CDL</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SV_CDL</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_CDLS</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_body_not_null</name>
        <label>Check body not null</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>body</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_FeedItem.Body</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Clean_HTML_from_Chatter_Body</targetReference>
            </connector>
            <label>body</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_feeditem_not_null</name>
        <label>Check feeditem not null</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>not_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_FeedItem</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_FeedItem</targetReference>
            </connector>
            <label>not null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Checking_content_document_null_or_not</name>
        <label>Checking content document null or not</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Get_FeedItem</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CD_not_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_ContentDocument_Link</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_CDLS</targetReference>
            </connector>
            <label>not null</label>
        </rules>
    </decisions>
    <description>Chatter, Notes and attachments from enquiry</description>
    <environments>Default</environments>
    <formulas>
        <name>For_Body</name>
        <dataType>String</dataType>
        <expression>{!Loop_FeedItem.Body}</expression>
    </formulas>
    <interviewLabel>Order Booking :  Get notes and chatter to booking {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Order Booking :  Get notes and chatter to booking from enquiry</label>
    <loops>
        <name>Loop_CDLS</name>
        <label>Loop CDLS</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_ContentDocument_Link</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_CDL</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_CDL</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_FeedItem</name>
        <label>Loop FeedItem</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_FeedItem</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_body_not_null</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_CDL</name>
        <label>Create CDL</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_FeedItem</targetReference>
        </connector>
        <inputReference>CV_CDL</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_FeedItem</name>
        <label>Create FeedItem</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Loop_FeedItem</targetReference>
        </connector>
        <inputAssignments>
            <field>Body</field>
            <value>
                <elementReference>TextApexOutput</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>TextPost</stringValue>
            </value>
        </inputAssignments>
        <object>FeedItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_ContentDocument_Link</name>
        <label>Get ContentDocument Link</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Checking_content_document_null_or_not</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LinkedEntityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.OpportunityId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ContentDocumentLink</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_FeedItem</name>
        <label>Get FeedItem</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_feeditem_not_null</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ParentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.OpportunityId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>FeedItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_ContentDocument_Link</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Order</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>TextTemplate</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;{!Loop_FeedItem.Body}&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>TT_BODY</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;1&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>currentItem_Filter_body_not_null</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>FeedItem</objectType>
    </variables>
    <variables>
        <name>CV_CDL</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContentDocumentLink</objectType>
    </variables>
    <variables>
        <name>SV_CDL</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContentDocumentLink</objectType>
    </variables>
    <variables>
        <name>Text_Body</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TextApexOutput</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
