force-app/main/default/flows/Send_reminders_on_upcoming_Events.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_Equipment_Setup_Task</name>
        <label>Add Equipment Setup Task</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>var_TaskSingle.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Equipment Setup</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_TaskSingle.WhatId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_thro_bookings_and.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_TaskSingle.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_TaskSingle.Priority</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>High</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_TaskSingle.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_thro_bookings_and.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_TaskCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>var_TaskSingle</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Menu_Preparation_Task</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Final_Venue_Confirmation_to_task</name>
        <label>Add Final Venue Confirmation to task</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>var_TaskSingle.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Final Venue Confirmation</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_TaskSingle.WhatId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_thro_bookings_and.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_TaskSingle.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_TaskSingle.Priority</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>High</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_TaskSingle.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_thro_bookings_and.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_TaskCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>var_TaskSingle</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Equipment_Setup_Task</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Menu_Preparation_Task</name>
        <label>Add Menu Preparation Task</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>var_TaskSingle.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Menu Preparation</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_TaskSingle.WhatId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_thro_bookings_and.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_TaskSingle.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_TaskSingle.Priority</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>High</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_TaskSingle.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_thro_bookings_and.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_TaskCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>var_TaskSingle</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_thro_bookings_and</targetReference>
        </connector>
    </assignments>
    <description>Changed correct time to run the flow</description>
    <environments>Default</environments>
    <formulas>
        <name>TomorrowFormulaVar</name>
        <dataType>Date</dataType>
        <expression>TODAY() + 1</expression>
    </formulas>
    <interviewLabel>Send reminders on upcoming Events {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Send reminders on upcoming Events</label>
    <loops>
        <name>Loop_thro_bookings_and</name>
        <label>Loop thro bookings and</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_Orders_with_event_date_as_Tomorow_s_date</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Send_email</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Tasks</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Tasks</name>
        <label>Create Tasks</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputReference>var_TaskCollection</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Orders_with_event_date_as_Tomorow_s_date</name>
        <label>Get Orders with event date as Tomorow&apos;s date</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_thro_bookings_and</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Confirmed</stringValue>
            </value>
        </filters>
        <filters>
            <field>Event_Date__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>TomorrowFormulaVar</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Order</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Orders_with_event_date_as_Tomorow_s_date</targetReference>
        </connector>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2025-10-23</startDate>
            <startTime>09:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>Send_email</name>
        <label>Send email</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Add_Final_Venue_Confirmation_to_task</targetReference>
        </connector>
        <flowName>Send_Event_Reminder_Subflow</flowName>
        <inputAssignments>
            <name>varOrderId</name>
            <value>
                <elementReference>Loop_thro_bookings_and.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>CustomerEmailCollection</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OpsEmailCollection</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>StaffEmailCollection</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_TaskCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>var_TaskSingle</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
</Flow>
